@{
    ViewData["Title"] = "Editar contato";
}

<style>
    .form-control {
        max-width: 300px;
    }

    .tamanho {
        width: 100px;
        margin-bottom: 5px
    }

</style>

<div>
    <h2 class="display-4">Editar um contato</h2>
</div>
<br />

<a class="btn btn-outline-secondary tamanho" role="button" asp-controller="Contato" asp-action="Index">Voltar</a>
<br />
<div>
    <form>
        <label for="nome">Nome</label>
        <input type="text" class="form-control" placeholder="Digite o nome">
        <br />
        <label for="email">Email</label>
        <input type="text" class="form-control" placeholder="Digite o email">
        <br />
        <label for="celular">Celular</label>
        <input type="text" class="form-control" placeholder="Digite o celular">
        <br />
        <button type="submit" class="btn btn-outline-success tamanho">Editar</button>
    </form>
</div>